/* COLOR PALETTE

lime green #c1e40e
orange #fc713a
beige #d5c8b5
*/

@import url('https://fonts.googleapis.com/css?family=PT+Sans');

* {
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

:focus {
	outline: 0;
}

body {
	overflow-x: hidden;
	color: #ffffff;
	font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, p {
	text-align: center;
}

h4 {
	color: #fc713a;
}

nav, .mobile-nav, button, figcaption p, footer ul li {
	text-transform: uppercase;
} 

header {
	height: 300px;
	background: #000000;
}

nav {
	display: none;
	padding-top: 20px;
}

nav ul li {
	display: inline;
}

ul li {
	list-style-type: none;
}

a, a:link, a:hover, a:active, a:visited {
	text-decoration: none;
}

nav ul li a.reg-nav:hover {
	color: #ffffff;
	transition: all .3s ease-in-out; 
}

.top-intro {
	margin-top: 80px;
	font-size: 1.6rem;
}

.reg-nav {
	padding: 0px 25px 0px 20px;
	color: #fc713a;
}

.reg-nav:visited {
	color: #fc713a;
}

.find-location {
	background-color: #c1e40e;
	padding: 20px 20px 15px 20px;
	-webkit-border-radius: 0px 0px 15px 15px;
	border-radius: 0px 0px 15px 15px;
	color: #000000;
}

.order-now {
	background-color: #fc713a;
	padding: 20px 20px 15px 20px;
	-webkit-border-radius: 0px 0px 15px 15px;
	border-radius: 0px 0px 15px 15px;
	color: #ffffff;
}

.order-now:visited {
	color: #ffffff;
}

a.change-color {
	background-color: #656565;
	color: #ffffff;
	transition: all .3s ease-in-out; 
}

.hide-div {
  display: flex;
  flex-direction: column;
  width: 0;
  height: 0;
  overflow: hidden;
  padding-top: 30px;
  transition: height 1s ease-in-out;
}

.show-div {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 90px;
  padding-left: 465px;
  padding-top: 30px;
}

h1, h2, h3 {
	font-weight: lighter;
}

.bold {
	font-weight: 700;
}

header p {
	color: #d5c8b5;
}

.top-buttons {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

header button {
	font-size: 1.4rem;
	padding: 5px 15px;
	margin: 0 2% 0 2%;
	background: rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 15px 15px 15px 15px;
	border-radius: 15px 15px 15px 15px;
	cursor: pointer;

}

.neon-button {
	border: 2px solid #c1e40e; /*lime green*/
	color: #c1e40e;
}

.orange-button {
	border: 2px solid #fc713a; /*orange*/
	color: #fc713a;
}

main {
	padding-top: 20px;
	padding-bottom: 40px;
}

h2 {
	color: #000000;
}

h2 {
	padding-bottom: 5px;
}

.orange-text {
	color: #fc713a;
	font-size: 1.6rem;
	font-weight: 700;
	padding-bottom: 20px;
}

.img {
	margin: 0 auto;
	display: block;
}

main {
	margin: 1%;
}

main section {
	cursor: pointer;
	padding: 1%;
}


.container-fluid {
	margin: auto;
	max-width: 1400px;
}


.container-fluid figure {
	position: relative;
	padding: 40% 0;
}

.container-fluid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #ffffff;
}

.container-fluid img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

footer {
	background: rgb(0,0,0);
	background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(105,105,105,1) 100%, rgba(255,255,255,1) 100%);
	bottom: 0;
	height: 325px;
	width: 100%;
	padding-top: 15px;
}



.header-container, .container {
	max-width: 1400px;
	margin: auto;
}


.container {
	padding-left: 25px;
	margin-left: 0;
}


footer h4 {
	font-size: 1.4rem;
}

footer a {
	color: #ffffff;
}

footer ul li {
	color: #ffffff;
}

.footer-nav {
	letter-spacing: 0.08em;
	padding: 2%;
}

.footer-nav div {
	padding: 10px 10px 0 0;
}

.footer-nav ul li {
	margin-bottom: 5px;
}

.social {
	padding: 2%;
	width: 300px;
}

.social h4 {
	margin: 0 0 10px 0;
}

.social img {
	max-width: 30px;
	margin-top: 5px;
}

.social .col-xs-3 {
	padding-left: 0;
}

.hidden {
	opacity: 0;
	cursor: auto;
}

.locations {
	color: #c1e40e;
}






/* -------- HAMBURGER MENU --------- */


#menuToggle {
	display: block;
	position: relative;
	top: 30px;
	left: 30px;
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;
}

#menuToggle input {
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -5px;
	cursor: pointer;
	opacity: 0; /* hide this */
	z-index: 2; /* and place it over the hamburger */
}

/*
 * HAMBURGER ICON
 */
#menuToggle span {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
	background: #ffffff;
	border-radius: 3px;
	z-index: 1;
	transform-origin: 4px 0px;
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	opacity 0.55s ease;
}

#menuToggle span:first-child {
	transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
}

/* 
 * Transform hamburger into a crossmark */
#menuToggle input:checked ~ span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: #fc713a;
}


/*
 * thide the middle one
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
	transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
	position: absolute;
	width: 100%;
	margin: -100px 0 0 -30px;
	padding: 20%;
	padding-left: 100px;
	padding-top: 60px;
	background: rgb(0,0,0);
	background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(105,105,105,1) 100%, rgba(255,255,255,1) 100%);
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	/* to stop flickering of text in safari */
	transform-origin: 0% 0%;
	transform: translate(-100%, 0);
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu a {
	color: #ffffff;
	font-size: 1.8rem;
}


/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
	transform: none;
}


/* -------- END HAMBURGER MENU --------- */



@media (min-width: 500px) {
	header {
		background: #000000 url('../img/banner-bg-final-v2.png')  no-repeat center;
		height: 400px;
	}
	.top-intro {
		background-color: rgba(0, 0, 0, 0.3);
		padding: 10px 0 20px 0;
	}
	.footer-nav {
		letter-spacing: 0.08em;
	}
	.social img {
		max-width: 30px;
		padding: 2%;
	}
}

@media (min-width: 650px) {
	#menuToggle ul li {
		font-size: 2.5rem;
		padding-left: 2%;
		padding-right: 2%;
		margin-top: -10px;
	}
	#menu {
		padding: 10%;
	}
}

@media (min-width: 800px) {
	.top-intro {
		background: transparent;
		margin-left: 300px;
		margin-top: 0;
	}
	main {
		padding-bottom: 40px;
	}
}

@media (min-width: 1025px) {
	.top-intro {
		margin-top: 60px;
		margin-left: 450px;
	}
	#menuToggle {
		display: none;
	}
	nav {
		display: flex;
		justify-content: flex-end;
		top: 0;
		width: 100%;
	}
	nav ul li {
		flex-direction: row;
	}
	.top-buttons {
		margin-top: 15px;
	}
	h2, main p {
		width: 100%;
	}
	main {
		margin-top: 20px;
		padding-bottom: 100px;
	}
	.grow1 { 
		transition: all .4s ease-in-out; 
	}
	.grow1:hover { 
		transform: scale(1.1);
	}
	.opacity-change {
		opacity: 0.7;
		transition: opacity 0.5s ease-in-out;
	}
	.grow3 { 
		transition: all .4s ease-in-out; 
	}
	.grow3:hover { 
		transform: scale(1.15);
	}
	.footer-nav a:hover {
		color: #fc713a;
		transition: all .3s ease-in-out; 
	}
	.footer-nav ul li {
		margin-bottom: 10px;
	}
}




